body {
    background-color: #f0f6ff;
}




    .fa-angle-right:before {
    color: #fe6c17;
    }

    .strip-primary{
    background-color: #fe6c17;
    position:absolute;
    width: 60px;
    height: 5px;
    border-radius: 10px;
}
   .fab-container {
        position: fixed;
        bottom: 70px;
        right: 10px;
        z-index: 999;
        cursor: pointer;
    }

    .fab-icon-holder {
        width: 45px;
        height: 45px;
        bottom: 140px;
        left: 10px;
        color: #FFF;
        background: #FFF;
        /* padding: 1px; */
        border-radius: 10px;
        text-align: center;
        font-size: 30px;
        z-index: 99999;
    }

    .fab-icon-holder:hover {
        opacity: 0.8;
    }
    
    .fab-options > li > a {
        text-decoration: none;
    }

    .fab-icon-holder i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 25px;
        color: #ffffff;
    }

    .fab-options {
        list-style-type: none;
        margin: 0;
        position: absolute;
        bottom: 48px;
        left: -45px;
        opacity: 0;
        transition: all 0.3s ease;
        transform: scale(0);
        transform-origin: 85% bottom;
    }

    .fab:hover+.fab-options,
    .fab-options:hover {
        opacity: 1;
        transform: scale(1);
    }

    .fab-options li {
        display: flex;
        justify-content: flex-start;
        padding: 5px;
    }

    .fab-label {
        padding: 2px 5px;
        align-self: center;
        user-select: none;
        white-space: nowrap;
        border-radius: 3px;
        font-size: 16px;
        background: #666666;
        color: #ffffff;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        margin-left: 10px;
    }

    .act-btn {
        display: block;
        position: fixed;
        width: 45px;
        height: 45px;
        bottom: 140px;
        left: 10px;
        color: #FFF;
        background: #5c8a8a;
        border-radius: 10px;
        text-align: center;
        font-size: 30px;
        z-index: 99999;
    }

    .act-btn:hover {
        background: #212529;
    }

    .act-btn-top {
        display: none;
        position: fixed;
        width: 45px;
        height: 45px;
        bottom: 140px;
        right: 10px;
        color: #FFF;
        background: #5c8a8a;
        border-radius: 10px;
        text-align: center;
        font-size: 30px;
        z-index: 99999;
    }

    .act-btn-top:hover {
        background: #212529;
    }

    .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    }

    .d-flex2 {
    background-color: #212529;
    }

    .img-chat {
    max-width: 100%;
    height: auto;
    /* background-color: #f89728; */
    border-radius: 10px;
    }

    .btn-topup {
        color: #fff3e2 !important;
        background-color: #fe6c17 !important;
        width: 90%;
        max-width: 100px;
    }
    .btn-topup:hover {
        color: #fff3e2 !important;
        background-color: #c44d09 !important;
        border-color: #c44d09;
        width: 90%;
    }
    .rounded-img-buy {
        border-radius: 0.5rem !important;
    }

    .size-img-buy {
        width: 65%;
    }
    .size-img-buy-v {
        width: 100px;
        height: auto;
    }

    .col-hp {
    flex: 0 0 auto;
    width: 100%;
    font-size: 12px;
    }
    .col-hp2 {
    flex: 0 0 auto;
    width: 100%;
    font-size: 11px;
    }




.swal-button--catch {
    background-color: #6777ee;
}

.swal-button--catch:active {
    background-color: #5969e6;
}

.list-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 33.33333%;
    padding: 7px;
    margin-bottom: 15px;
}

.link-product {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #191d21;
}

.link-product:hover {
    text-decoration: none;
}

.img-product {
    display: block;
    border-radius: 12px;
    max-width: 100%;
    max-height: 172px;
    border: 1px solid var(--border-color);
    margin-bottom: 15px;
}

.navbar-bg {
    height: 70px;
    background-color: #6777ef;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0)
}

.card-menu .card-body {
    padding: 15px;
}

.card-menu-animate {
    background: linear-gradient(to left, white 50%, #6777ef 50%) right;
    background-size: 210%;
    transition: .3s ease-out;
}

.card-menu-animate:hover {
    background-position: left;
    color: #fff;
}

.card-menu:hover {
    background-color: #6777ef;
    color: #fff;
}

.footer {
    background-color: #6777ef;
    color: white;
}

.main-footer {
    color: white;
}

.radio-nominal {
    color: white;
    display: none;
    margin: 10px;
    cursor: pointer;
}

.radio-nominal:checked+label {
    text-align: center;
    background-image: none;
    background-color: #6777ef;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 49%;
    font-size: 14px;
    border-color: #6777ef;
}

.radio-nominal+label {
    text-align: center;
    color: #333;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(157, 157, 157);
    cursor: pointer;
    border-radius: 5px;
    width: 49%;
    font-size: 14px;
}

.radio-pembayaran {
    color: white;
    display: none;
    margin: 10px;
    cursor: pointer;
}

.radio-pembayaran:checked+label {
    background-image: none;
    background-color: #6777ef;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    border-color: #6777ef;
}

.radio-pembayaran+label {
    color: #333;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(157, 157, 157);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

@media (min-width: 576px) {
    .radio-nominal:checked+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }

    .radio-nominal+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }

}

@media (min-width: 768px) {
    .radio-nominal:checked+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }

    .radio-nominal+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }
}

@media (min-width: 992px) {

    .radio-nominal:checked+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }

    .radio-nominal+label {
        width: 32%;
        font-size: 14px;
        padding: 5px;
    }

}

@media (min-width: 1200px) {
    .radio-nominal:checked+label {
        width: 24%;
        font-size: 14px;
        padding: 5px;
    }

    .radio-nominal+label {
        width: 24%;
        font-size: 14px;
        padding: 5px;
    }
}

@media (max-width: 1024px) {
    .main-content {
        padding-left: 20px;
        padding-right: 20px;
        width: 100% !important;
    }
}

@media (max-width: 750px){
    .banner {
        margin-right: -20px;
        margin-left: -20px;
        margin-top: -15px;
    }
}

.badge-square {
    border-radius: 0px;
}

.swal-text:first-child {
    margin-top: 0px;
}

.swal-text {
    text-align: left;
    width: 100%;
}

.swal-title {
    font-weight: 600;
    font-size: 20px;
}

.badge {
    border-radius: 5px;
}

tr.group,
tr.group:hover {
    background-color: #dcdcdc !important;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
  }

  @media(min-width:992px) {
    .product {
        width: 25%;
    }
}

@media(min-width:1200px) {
    .product {
        width: 25%;
    }
}

@media(min-width:1400px) {
    .product {
        width: 20%;
    }
}